.navbar__button {
  background: $ball-blue;
  color: white;
  font-size: 1rem;
  padding: 7px 16px;
  border: 0;

  &:hover {
    background: $middle-blue;
  }

  &:focus {
    background: $silver-chalice;
  }
}

.precios__card1,
.precios__card2 {
  button {
    background: $ball-blue;
    color: white;
    padding: 10px 100px;
    margin-top: 10px;
    border: 0;
    font-size: $large;

    &:hover {
      background: $middle-blue;
    }

    &:focus {
      background: $silver-chalice;
    }
  }
}

@media screen and (max-width: 567px) {
  .precios__card1,
  .precios__card2 {
    button {
      padding: 10px 81px;
    }
  }
}
