.caract__elements img {
  animation-name: gráfico;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes gráfico {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
