.caract h1 {
  text-align: center;
  font-size: $xxx-large;
}

.caract__elements {
  align-items: center;
  padding: 0 30px;

  img {
    margin-left: auto;
    padding: 0 30px;
  }

  .caract__descrip {
    padding: 0 30px;

    & h4 {
      font-weight: 400;
    }
  }
}

.caract__elements img {
  animation-name: gráfico;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

@keyframes gráfico {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@media screen and (max-width: 779px) {
  .caract__elements img {
    margin: auto;
    width: 80%;
  }
}
