.hero__cover {
  background-image: url("../img/bg-hero.svg");
  background-repeat: no-repeat;
  background-position: 70%;
  width: 100%;
}

.hero__text {
  padding: 0px 20px 20px 80px;
  height: 810px;

  & h1 {
    font-size: $xxxxx-large;
    margin-bottom: 10px;
  }

  & h3 {
    font-weight: 400;
  }
}

@media screen and (max-width: 1200px) {
  .hero__text {
    height: 780px;
  }
}

@media screen and (max-width: 992px) {
  .hero__text {
    height: 720px;
  }
}

@media screen and (max-width: 876px) {
  .hero__text {
    height: 690px;

    h1 {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 675px) {
  .hero__text {
    height: 650px;
    padding: 0px 20px 20px 40px;

    h1 {
      font-size: $xxxx-large;
    }
  }
}

@media screen and (max-width: 567px) {
  .hero__text h1 {
    font-size: $xxx-large;
  }
}
