nav {
  padding: 20px 80px 0 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

input {
  display: none;
}

label {
  font-size: 38px;
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 5px;
}

// barra de navegación Large
.navbar__elements {
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
  height: 0;
  overflow: hidden;
  transition: height 1s;

  .navbar__left a,
  .navbar__right a {
    align-items: baseline;
    display: block;
    text-align: right;
  }
}
.navbar__item {
  padding: 10px 12px;
  text-decoration: none;
  color: $onyx;

  &:hover {
    color: $middle-blue;
  }
}

input:checked ~ .navbar__elements {
  height: 208px;
}

// Media Queries
@media only screen and (min-width: 876px) {
  label {
    display: none;
  }

  .navbar__elements {
    display: flex;
    max-height: 100%;
    width: 90%;
    height: auto;
  }
  .navbar__left,
  .navbar__right {
    align-items: baseline;
    display: flex;
  }
}

@media only screen and (max-width: 675px) {
  nav {
    padding: 20px 40px 0 40px;
  }
}
